.header {
    width: 100%;
    font-size: 1.5rem;
    color: #2A77AE;
    margin-bottom: 10px;
    background-color:#fbd433;
    box-shadow: 0 2px 4px #999, 0 2px 4px #999;
    padding:20px;
  }
  
  .title {
    float: left;
  }
  
  .scores {
    float: right;
  }